@font-face {
    font-family: 'Bebas Neue';
    src: url('../font/bebasneueregular.eot') format('eot'),
    url('../font/bebasneueregular.ttf') format('ttf'),
    url('../font/bebasneueregular.svg') format('svg'),
    url('../font/bebasneueregular.woff') format('woff'),
    url('../font/bebasneueregular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
